* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #E6E4EE;
}

.App {
  width: 100vw;
  height: 100vh;
  color: #090B10;
  background-color: #E6E4EE;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
}

form {
  width: 100vw;
  min-height: 100px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  border-bottom: 2px solid #6F7480;
}

form label {
  display: flex;
  flex-direction: column;
}

form input {
  height: 40px;
  width: 205px;
  background-color: #F7F7FB;
  border: none;
  border-radius: 8px;
  outline: none;
  padding: 20px;
  margin-top: 10px;
  font-size: 1.2em;

}

.App button {
  width: 140px;
  height: 40px;
  border-radius:  50px;
  outline: none;
  font-size: 1.1em;
  border: none;
  background-color: #161A22;
  color: #F7F7FB;
}

.App button:hover {
  cursor: pointer;
  background-color: #090B10;
}

.App button:active {
  box-shadow: 5px 5px 15px 7px rgba(0,0,0,0.3);
}

.taskscontainer{
  width: 100vw;
  height: 100vh - 80px;
  margin-top: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App .tasksheader {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
  text-align: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 10px;
}

.taskscontainer h1 {
  font-size: 1.5em;
}

.tasks {
  width: 600px;
  height: 400px;
  background-color: #F7F7FB;
  border-radius: 8px;
  box-shadow: 0px 13px 9px 4px rgba(0,0,0,0.12);

  color: #090B10;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding-top: 5px;
  padding-bottom: 5px;

  
}

.task {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 2px solid #6F7480;
}

@media(max-width: 1008px){
  form {
    flex-direction: column;
    min-height: auto;
  }
  .App .tasksheader {
    flex-direction: column;
  }
  form label {
    margin: 10px;
  }
  form button {
    margin-bottom: 10px;
  }
}

@media(max-width: 365px){
  .tasks {
    width: 95vw;
  }
  .App .tasksheader {
    width: 95vw
  }
}